<div class="signup_box">
    <h1 class="title">{{t "signup.page_title"}}</h1>
    <div class="content">
        <table>
	    <tr>
                <td class="label">{{t "signup.first_name"}}</td>
                <td class="item"><input type="text" name="firstName" size="32"/></td>
            </tr>
	    <tr>
                <td class="label">{{t "signup.last_name"}}</td>
                <td class="item"><input type="text" name="lastName" size="32"/></td>
            </tr>
	    <tr>
                <td class="label">{{t "signup.company"}}</td>
                <td class="item"><input type="text" name="company" size="32"/></td>
            </tr>
	    <tr>
                <td class="label">{{t "signup.title"}}</td>
                <td class="item"><input type="text" name="title" size="32"/></td>
            </tr>
	    <tr>
                <td class="label">{{t "signup.address_1"}}</td>
                <td class="item"><input type="text" name="address1" size="32"/></td>
            </tr>
	    <tr>
                <td class="label">{{t "signup.address_2"}}</td>
                <td class="item"><input type="text" name="address2" size="32"/></td>
            </tr>
	    <tr>
                <td class="label">{{t "signup.city"}}</td>
                <td class="item"><input type="text" name="city" size="16"/></td>
            </tr>
	    <tr>
                <td class="label">{{t "signup.state"}}</td>
                <td class="item">some other control</td>
            </tr>
	    <tr>
                <td class="label">{{t "signup.zip_code"}}</td>
                <td class="item"><input type="text" name="city" size="10"/></td>
            </tr>
	    <tr>
                <td class="label">{{t "signup.phone"}}</td>
                <td class="item">some other control</td>
            </tr>
	    <tr>
                <td class="label">{{t "signup.email"}}</td>
                <td class="item"><input type="text" name="email" size="32"/></td>
            </tr>
	    <tr>
                <td class="label">{{t "signup.email_confirmation"}}</td>
                <td class="item"><input type="text" name="emailConfirmation" size="32"/></td>
            </tr>
        </table>
    </div>
</div>
